# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

# IDE
.vscode/*
!.vscode/extensions.json
.idea

.qodo
/src/videos/Ballet.mp4
/src/videos/Basket.mp4
/src/videos/Boxer.mp4
/src/videos/breathing.mp4
/src/videos/Cyclist.mp4
/src/videos/Football_Stadium.mp4
/src/videos/Gym.mp4
/src/videos/Possible.mp4
/src/videos/Stadium.mp4
/src/videos/surfing.mp4
/src/videos/Sweat.mp4
/src/videos/Swim.mp4
/src/videos/Swim_training.mp4
/src/videos/Swimming.mp4
/src/videos/team2.mp4
/src/videos/team3.mp4
/src/videos/team4.mp4
/src/videos/team5.mp4
/src/videos/Triathlon.mp4
